.not-found-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #222;
    text-align: center;
}

.not-found-page h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 600;
}

.not-found-page p {
    color: #666;
    font-size: 1rem;
}