# base de données

DB_USER=""
DB_PASSWORD=""
DB_NAME=""
PORT="" # Par défaut, mettre 5432

DATABASE_URL="postgresql+psycopg://{USER}:{PASSWORD}@localhost:{PORT}/{NAME}"

# Hashage : 
SECRET="" # Pour générer, copier le résultat de la commande `openssl rand -hex 32`
ALGORITHM="" 
PWD_ALGORITHM=""