DB_USER=""
DB_PASSWORD=""
DB_NAME=""
PORT=""

DATABASE_URL="postgresql+psycopg://{USER}:{PASSWORD@localhost:{PORT}/{NAME}"

# Générer un clé : openssl rand -hex 32
SECRET=""
ALGORITHM=""
PWD_ALGORITHM=""